.post {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(126, 111, 111, 0.1);
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post img {
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.author p {
    font-size: 1rem;
    color: #555;
}

.popular {
    display: block;
    margin: 10px 0;
    color: #d35400;
    font-weight: bold;
    text-align: left;
}

.post p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
    text-align: justify;
}
